@use "../assets/sass/abstracts/index" as *;

.MyVMERichTextEditor {
  // .toolbar {
  //   transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  //   opacity: 0;
  //   transform: translateY(20px);
  //   pointer-events: none;
  // }

  // .toolbar.visible {
  //   opacity: 1;
  //   transform: translateY(0);
  //   pointer-events: auto;
  // }
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: $ff-primary;
  font-size: map-get($fs, fs-body-m);
  font-weight: $fw-regular;
  line-height: 1.6;
  body {
    // font-family: $ff-primary;
    // font-size: map-get($fs, fs-body-m);
    // font-weight: $fw-regular;
    // line-height: 1.6;
  }
  .editor {
    &:hover,
    &:focus {
      border: pxToRem(2) solid $clr-primary-500;
      border-radius: $border-radius-s;
      outline: transparent;
    }
  }

  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    // padding: 0;
  }

  html,
  body {
    height: 100%;
  }

  body {
    // line-height: 1.5;
    // -webkit-font-smoothing: antialiased;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
}
